demo/helloWorldSpringWebServices/src/main/resources/faults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://seminar.gfu.net/springws/helloworld/faults"
	xmlns:faults="http://seminar.gfu.net/springws/helloworld/faults" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:element name="inputMessageValidationFault" type="faults:InputMessageValidationFaultType" />
	<xs:complexType name="InputMessageValidationFaultType">
		<xs:attribute name="msg" type="xs:string" />
	</xs:complexType>
</xs:schema>
